* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.logo {
    cursor: pointer;
    color: white;
    font-style: oblique;
    font-size: 30px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;  
    margin: 20px 20px 40px 15px;
}


.navlinks {
    list-style: none;
}

.navlinks i{
    color: white;
   font-size: 50px;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;

}

.navlinks li a:hover {
    color: #0088a9;
}


.search {
    display: flex;
    text-decoration: none;


}
/* #inputs{
    /* padding :8px 
} */
.search button {
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: #ED661F;
    /* border-radius: 7px; */

}


 #products{
    /* text-align: center;
    font-size: 3rem; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
  

 }

 .card{
     width: 25%;
     box-shadow: 0 0 4px  ;
     text-align: center;
     padding: 1.5em;
     margin-bottom: 2em ;  
 }

 .title{
    font-size: 1.3rem;
 }
 .category,.price{
     font-weight: bold;
     text-transform: capitalize;
     margin: 1em;
    font-size: 1.2rem;
 }
 .images{
     width: 80%;
     height: 350px;
 }